<tr>
    <td>
        <div class="btn-group">
            <a href="/episode/{{ episode.id }}/download" 
                class="btn ajax" data-method="post" 
                data-replace-closest="tr" title="download episode">
                <i class="icon-download-alt"></i></a>
        </div>
    </td>
    <td>{{ episode.show.name }}</td>
    <td>{{ episode.number }} {{ episode.number_prefix }}</td>
    <td>
        <small>{% if episode.status == 0 %}wanted
        {% elif episode.status == 1 %}ignored
        {% elif episode.status == 2 %}snatched
        {% else %}
        downloaded
        {% endif %}</small>
    </td>
</tr>