{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span5">
            <div class="row-fluid">
                <div class="span12">
                    {% include 'episodes.html' %}
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    {% include 'new-shows.html' %}
                </div>
            </div>
        </div>
        <div class="span5">
            {% include 'wanted-shows.html' %}
        </div>
    </div>
</div>
{% endblock %}	
