<table id="wanted-shows" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th colspan="2">
                Wanted shows
            </th>
            <th colspan="2" class="visible-lg">
            </th>
        </tr>
        {% if wanted %}  
        <tr>
            <th class="actions">&nbsp;</th>
            <th>Show</th>
            <th class="hidden-sm">Downloads</th>
            <th class="hidden-sm">Status</th>
        </tr>
        {% endif %}
    </thead>
    <tbody>
        {% if wanted %}        
        {% for show in wanted %}
        {% include 'wanted.html' %}
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">
                <small>
                No shows marked as wanted. Please select shows from the 
                <a href="/manage">available shows</a> list</small>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
